JWT_SECRET=this-is-a-strong-jwt-secret
POSTGRES_DB=ewallet
POSTGRES_USER=user
POSTGRES_PASSWORD=password
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/ewallet
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password
